body {
  margin: 0 60px 0 60px;
  padding: 0;
  font-family: "Montserrat";
  background-color: #111;
  color: #fff;
}

/* -- BARRA NAV -- */

.nav {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 50px;
  position: relative;
  top: -100px; /* Inicialmente fuera de la vista */
  width: 100%;
  transition: top 1.2s ease; /* Animación suave */
}

.nav.visible {
  top: 0; /* Cuando se añada la clase 'visible', la nav aparecerá */
}

.nav-btn {
  background-color: #111;
  color: #444;
  font-size: 20px;
  border: 2px solid #444;
  border-radius: 40px;
  height: 40px;
  width: 140px;
  cursor: pointer;
}

.nav-btn:hover {
  color: #fff;
  border: 2px solid #fff;
  transition: 1.5s;
}

/* --PORTADA-- */

.portada {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 120px;
}

.nombre {
  font-size: 34px;
  font-weight: 100;
}

.line1, .line2 {
  font-size: 140px;
  margin: 0;
}

.line2 {
  margin-left: 120px;
}

.cursor1, .cursor2 {
  display: inline-block;
  font-weight: normal;
  font-size: 140px;
  line-height: 0.2;
  animation: blink 1.5s steps(1) infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.my-work {
  display: flex;
  justify-content: center;
  gap: 20px;
  color: #444;
  text-decoration: none;
  opacity: 0;
  transition: 3s;
}

.my-work.visible {
   opacity: 1;
}

.my-work:hover {
color: #fff;
transition: 1.5s;
}

.my-work:hover .arrow-down {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  transition: 1.5s;
}

.titulo-work {
  font-size: 38px;
  font-weight: 100;
  margin: 0;
}

.arrow-down {
  width: 18px;
  height: 18px;
  border: solid #444;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(45deg);
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0) rotate(45deg);
  }
  40% {
    transform: translateY(10px) rotate(45deg);
  }
  60% {
    transform: translateY(5px) rotate(45deg);
  }
}

/* -- SOBRE MÍ -- */

.titulo-about{
  font-size: 40px;
  font-weight: 100;
  margin: 44px 0 0 0;
}

.parrafo{
  font-size: 22px;
  margin: 50px 400px 0 100px;
}

.parrafo a{
  color: #fff;
}

.curso{
  color: #fff;
}

/* --SECCION CON LOS PROYECTOS-- */

.proyectos-container{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.proyectos-titulo{
  font-size: 40px;
  font-weight: 100;
  margin: 180px 40px 40px 40px;
}

.proyecto-enlace{
  text-decoration: none;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.proyecto{
  border: 1px solid #fff;
  border-radius: 20px;
  height: 130px;
  width: 40%;
  display: flex;
  align-items: center;
  position: relative;
  transition: width 2s;
  opacity: 0;
  transform: translateY(20px); /* Inicia un poco más abajo */
  transition: opacity 2s ease-out, transform 1s ease-out; /* Transición suave */
}

.proyecto.visible {
  opacity: 1;
  transform: translateY(0); /* Vuelve a su posición original */
}

.proyecto:hover{
  width: 80%;
  transition: 2s;
}

.titulo-proyecto{
  font-size: 40px;
  margin-left: 20px;
}

.descripcion{
  opacity: 0;
  margin-left: 100px;
  font-size: 30px;
  position: absolute;
}

.proyecto:hover .descripcion{
  margin-left: 200px;
  animation: description 3s forwards;
}

@keyframes description {
  0% {
    opacity: 0;
    margin-left: 100px;
  }
  100% {
    opacity: 1;
    margin-left: 650px;
  }
}

.titulo-more {
  font-size: 40px;
  color: #444;
  font-weight: 100;
  text-align: center;
  margin: 100px 0 200px 0;
  transition: 1.5s
}

.titulo-more:hover {
  color: #fff;
}

.enlace-more{
  text-decoration: none;
  color: #fff;
}

/* -- REDES SOCIALES -- */

.enlaces-titulo {
  font-size: 30px;
  font-weight: 100;
  margin: 20px 0 0 0;
}

.redes{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 50px;
}

.redes-enlaces{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px;
}

.link-redes {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

.arrow-redes{
  width: 20px;
  height: 20px;
}

.contact-email{
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
  margin: 0;
}

.email-titulo{
    font-size: 30px;
    font-weight: 100;
    margin: 0;
}

.email{
  font-size: 24px;
  color: #fff;
  margin: 40px 0 0 0;
  text-align: center;
}

/* -- MEDIA QUERIES -- */

@media (max-width: 650px) {
  body {
    margin: 0;
    gap: 0;
  }

  .nav{
    display: none;
  }

  .portada{
    margin: 0;
    padding: 0;
    gap: 20px;
  }
  
  .nombre {
    font-size: 20px;
    margin-left: 30px;
    margin-bottom: 50px;
  }
  
  .line1, .line2 {
    font-size: 44px;
    margin-left: 30px;
  }

  .line2{
    margin-left: 80px;
  }
  
  .cursor1, .cursor2 {
    font-size: 44px;
  }

  .titulo-about{
    font-size: 24px;
    margin: 100px 0 50px 0;
    text-align: center;
  }
  
  .parrafo{
    font-size: 16px;
    margin: 0 40px 0 40px;
  }

  .my-work{
    display: none;
  }

  .proyectos-container{
    align-items: center;
  }

  .proyectos-titulo{
    font-size: 24px;
    margin: 100px 0 50px 0;
    text-align: center;
  }

  .proyecto{
    height: 60px;
    width: 80%;
    align-items: center;
    transition: none;
  }

  .titulo-proyecto{
    font-size: 18px;
  }

  .descripcion{
    display: none;
  }

  .titulo-more {
    color: #fff;
    font-size: 20px;
    margin: 40px;
    margin: 100px 0 80px 0;
    text-align: center;
  }

  .redes{
    margin: 20px 40px 40px 40px;
    flex-direction: column;
  }

  .enlaces-titulo {
    font-size: 20px;
    font-weight: 400;
  }

  .link-redes {
    font-size: 16px;
  }

  .arrow-redes{
    width: 16px;
    height: 16px;
  }

  .email-titulo{
    font-size: 20px;
    text-align: center;
    margin: 50px 0 0 0px;
}

.email{
  font-size: 18px;
  margin: 20px 0 0 0;
}
}


@media (max-width: 1000px) {
  body {
    margin: 0;
    gap: 0;
  }

  .nav {
    margin-top: 20px;
  }

  .nav-btn {
    color: #fff;
    font-size: 18px;
    border: 2px solid #fff;
    height: 35px;
    width: 120px;
  }

  .portada{
    margin: 20px 0 0 0;
    padding: 0;
    gap: 20px;
  }
  
  .nombre {
    font-size: 30px;
    margin-left: 30px;
    margin-bottom: 50px;
  }
  
  .line1, .line2 {
    font-size: 80px;
    margin-left: 30px;
  }

  .line2{
    margin-left: 80px;
  }
  
  .cursor1, .cursor2 {
    font-size: 80px;
  }

  .titulo-about{
    font-size: 30px;
    margin: 100px 0 50px 0;
    text-align: center;
  }
  
  .parrafo{
    font-size: 18px;
    margin: 0 40px 0 40px;
  }

  .my-work{
    display: none;
  }

  .proyectos-container{
    align-items: center;
  }

  .proyectos-titulo{
    font-size: 30px;
    margin: 100px 0 50px 0;
    text-align: center;
  }

  .proyecto{
    height: 60px;
    width: 70%;
    align-items: center;
    transition: none;
  }

  .titulo-proyecto{
    font-size: 20px;
  }

  .descripcion{
    display: none;
  }

  .titulo-more {
    color: #fff;
    font-size: 26px;
    margin: 100px 0 80px 0;
  }

  .redes{
    margin: 20px 40px 40px 40px;
    flex-direction: column;
  }

  .enlaces-titulo {
    font-size: 20px;
    font-weight: 400;
  }

  .link-redes {
    font-size: 16px;
  }

  .arrow-redes{
    width: 16px;
    height: 16px;
  }

  .email-titulo{
    font-size: 20px;
    text-align: center;
    margin: 50px 0 0 0px;
}

.email{
  font-size: 18px;
  margin: 20px 0 0 0;
}
}

@media (max-width: 1400px) {
  .proyecto{
    transition: none;
  }
  .proyecto:hover{
    width: 34%;
    transition: none;
  }
  .descripcion{
    display: none;
  }
}