body {
  margin: 0 5vw;
  padding: 0;
  font-family: "Montserrat";
  background-color: #111;
  color: #fff;
}


/* -- BARRA NAV -- */

.nav {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  gap: 5vw;
  position: relative;
  top: -10vh;
  width: 100%;
  transition: top 1.2s ease;
}

.nav.visible {
  top: 0;
}

.nav-btn {
  background-color: #111;
  color: #444;
  font-size: 1.35rem;
  border: 0.2rem solid #444;
  border-radius: 2rem;
  height: 6vh;
  width: 9vw;
  cursor: pointer;
}

.nav-btn:hover {
  color: #fff;
  border: 0.2rem solid #fff;
  transition: 1.5s;
}


/* -- TRADUCCIONES -- */

.traducir {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 4vw;
  top: -20vh;
  transition: top 1.2s ease;
}

.idioma {
  margin-top: 2vh;
  height: 4vh;
  width: 2.5vw;
  background-color: #111;
  color: #444;
  text-align: center;
  border: 0.1rem solid #444;
  padding: 0;
}

.active {
  color: #fff;
  border: 0.1rem solid #ffffffb1;
}

.traducir.visible {
  top: 0;
}


/* --PORTADA-- */

.portada {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10vh;
}

.nombre {
  font-size: 2.5rem;
  font-weight: 100;
}

.line1, .line2 {
  font-size: 8vw;
  margin: 0;
}

.line2 {
  margin-left: 10vw;
}

.cursor1, .cursor2 {
  display: inline-block;
  font-weight: normal;
  font-size: 8vw;
  line-height: 0.2;
  animation: blink 1.5s steps(1) infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.my-work {
  display: flex;
  justify-content: center;
  gap: 2vw;
  color: #444;
  text-decoration: none;
  opacity: 0;
  transition: 3s;
}

.my-work.visible {
  opacity: 1;
}

.my-work:hover {
  color: #fff;
  transition: 1.5s;
}

.my-work:hover .arrow-down {
  border: solid #fff;
  border-width: 0 0.2rem 0.2rem 0;
  transition: 1.5s;
}

.titulo-work {
  font-size: 3rem;
  font-weight: 100;
  margin: 0;
}

.arrow-down {
  width: 1vw;
  height: 1vw;
  border: solid #444;
  border-width: 0 0.2rem 0.2rem 0;
  display: inline-block;
  padding: 0.5vw;
  transform: rotate(45deg);
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0) rotate(45deg);
  }
  40% {
    transform: translateY(1vh) rotate(45deg);
  }
  60% {
    transform: translateY(0.5vh) rotate(45deg);
  }
}


/* -- SOBRE MÍ -- */

.titulo-about {
  font-size: 3rem;
  font-weight: 100;
  margin: 18vh 0 8vh 0;
}

.parrafo {
  font-size: 1.5rem;
  margin: 5vh 20vw 0 5vw;
}

.parrafo a {
  color: #fff;
}


/* --SECCION CON LOS PROYECTOS-- */

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 4vh;
}

.projects-title-class {
  font-size: 3rem;
  font-weight: 100;
  margin: 18vh 0 8vh 0;
}

.project-link {
  text-decoration: none;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project {
  border: 0.1rem solid #fff;
  border-radius: 2rem;
  height: 14vh;
  width: 40%;
  display: flex;
  align-items: center;
  position: relative;
  transition: width 2s;
  opacity: 0;
  transform: translateY(2vh);
  transition: opacity 2s ease-out, transform 1s ease-out;
}

.project.visible {
  opacity: 1;
  transform: translateY(0); 
}

.project:hover {
  width: 80%;
  transition: 2s;
}

.title-project {
  font-size: 2.4rem;
  margin-left: 2vw;
}

.description {
  opacity: 0;
  font-size: 2rem;
  position: absolute;
}

.project:hover .description {
  animation: description 3s forwards;
}

@keyframes description {
  0% {
    opacity: 0;
    margin-left: 10vw;
  }
  100% {
    opacity: 1;
    margin-left: 35vw;
  }
}

.title-more {
  font-size: 2.8rem;
  color: #444;
  font-weight: 100;
  text-align: center;
  margin: 20vh 0 30vh 0;
  transition: 1.5s;
}

.title-more:hover {
  color: #fff;
}

.link-more {
  text-decoration: none;
  color: #fff;
}


/* -- REDES SOCIALES -- */

.enlaces-title {
  font-size: 2.5rem;
  font-weight: 100;
  margin: 2vh 0 0 0;
}

.redes {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 5vh;
}

.redes-links {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  margin: 2vh;
}

.link-redes {
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
}

.arrow-redes {
  width: 1.5vw;
  height: 1.5vw;
}

.contact-email {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
}

.email-title {
  font-size: 2.5rem;
  font-weight: 100;
  margin: 0;
}

.email {
  font-size: 2rem;
  color: #fff;
  margin: 4vh 0 0 0;
  text-align: center;
}


/* -- MEDIA QUERIES -- */

@media (max-width: 569px) {
 
  .nav{
    display: none;
  }

  .idioma {
    height: 2.8vh;
    width: 7vw;
  }

  .portada {
    gap: 8vh;
  }
  
  .nombre {
    font-size: 1.4rem;
  }
  
  .line1, .line2 {
    font-size: 2.95rem;
  }

  .cursor1, .cursor2 {
    font-size: 2.95rem;
  }

  .my-work{
    display: none;
  }

  .titulo-about{
    font-size: 1.4rem;
    margin: 2vh 0vw 4vh 0;
  }
  
  .parrafo{
    font-size: 1rem;
    margin: 2vh 0vw 4vh 0;
  }

  .projects-title-class{
    font-size: 1.4rem;
    margin: 2vh 0vw 3vh 0;
  }

  .project{
    height: 8vh;
    width: 90%;
    transition: none;
    justify-content: center;
    margin: 0;
  }

  .title-project{
    font-size: 1.2rem;
  }

  .description{
    display: none;
  }

  .title-more {
    color: #fff;
    font-size: 1.4rem;
    margin: 6vh 0vw 4vh 0;
    transition: none;
  }
  
  .redes{
    flex-direction: column;
    align-items: flex-start;
    margin: 1vh;
  }

  .redes-links {
    gap: 2vh;
    margin: 4vh 0 0 0;
  }

  .enlaces-title {
    font-size: 1.4rem;
    font-weight: 400;
  }

  .link-redes {
    font-size: 1.2rem;
  }

  .arrow-redes{
    width: 1.2rem;
    height: 1.2rem;
  }

  .email-title{
    font-size: 1.4rem;
    font-weight: 400;
    margin: 7vh 0vw 1vh 0;
  }

  .email{
    font-size: 1.2rem;
    font-weight: 400;
    margin: 1vh 0vw 4vh 0;
  }

  .tools-container {
    display: none;
  }
}


@media (min-width: 570px) and (max-width: 900px) {

  body {
    margin: 0 3vw;
  }

  .nav {
    margin: 2vh 0 6vh 0;
  }

  .idioma {
    height: 2.8vh;
    width: 5.5vw;
  }

  .nav-btn {
    color: #fff;
    font-size: 1.2rem;
    border: 2px solid #fff;
    height: 4.5vh;
    width: 18vw;
  }

  .portada{
    gap: 6vh;
  }
  
  .nombre {
    font-size: 2rem;
  }
  
  .line1, .line2 {
    font-size: 5.8rem;
  }

  .line2{
    margin-left: 6vh;
  }
  
  .cursor1, .cursor2 {
    font-size: 5.8rem;
  }

  .my-work{
    display: none;
  }

  .titulo-about{
    font-size: 2.2rem;
    margin: 6vh 0 8vh 0;
  }
  
  .parrafo{
    font-size: 1.4rem;
    margin: 0 40px 0 40px;
  }

  .projects-title-class{
    font-size: 2.2rem;
    margin: 18vh 0 4vh 0;
  }

  .project {
    height: 10vh;
    width: 90%;
  }

  .title-project{
    font-size: 1.5rem;
    margin-left: 6vw;
  }

  .description{
    display: none;
  }

  .title-more {
    color: #fff;
    font-size: 2.2rem;
    margin: 10vh 0 8vh 0;
    transition: none;
  }

  .redes{
    flex-direction: column;
    margin: 3vh 6vh 6vh 6vh;
  }

  .redes-links {
    gap: 2vh;
    margin: 4vh 0 0 0;
  }

  .enlaces-title {
    font-size: 2.2rem;
    font-weight: 400;
  }

  .link-redes {
    font-size: 1.4rem;
  }

  .arrow-redes{
    width: 1.4rem;
    height: 1.4rem;
  }

  .email-title{
    font-size: 2.2rem;
    margin: 6vh 0 0 0;
  }

  .email{
    font-size: 1.4rem;
  }

  .tools-container {
    display: none;
  }
}

@media (min-width: 901px) and (max-width: 1258px) {

  body {
    margin: 0 3vw;
  }

  .nav {
    margin-top: 2vh;
  }

  .nav-btn {
    color: #fff;
    font-size: 1.2rem;
    border: 2px solid #fff;
    height: 4.5vh;
    width: 18vw;
  }

  .portada{
    gap: 6vh;
  }
  
  .nombre {
    font-size: 2rem;
  }
  
  .line1, .line2 {
    font-size: 8rem;
  }

  .line2{
    margin-left: 6vh;
  }
  
  .cursor1, .cursor2 {
    font-size: 8rem;
  }

  .my-work{
    display: none;
  }

  .titulo-about{
    font-size: 2.2rem;
    margin: 6vh 0 8vh 0;
  }
  
  .parrafo{
    font-size: 1.4rem;
    margin: 0 40px 0 40px;
  }

  .projects-title-class{
    font-size: 2.2rem;
    margin: 18vh 0 4vh 0;
  }

  .project {
    height: 10vh;
    width: 90%;
  }

  .title-project{
    font-size: 1.5rem;
    margin-left: 6vw;
  }

  .description{
    display: none;
  }

  .title-more {
    color: #fff;
    font-size: 2.2rem;
    margin: 10vh 0 8vh 0;
    transition: none;
  }

  .redes{
    margin: 3vh 6vh 6vh 6vh;
    flex-direction: column;
  }

  .enlaces-title {
    font-size: 2.2rem;
    margin: 6vh 0 2vh 0;
    font-weight: 400;
  }

  .link-redes {
    font-size: 1.4rem;
  }

  .arrow-redes{
    width: 1.4rem;
    height: 1.4rem;
  }

  .email-title{
    font-size: 2.2rem;
    margin: 6vh 0 0 0;
  }

  .email{
    font-size: 1.4rem;
  }

  .tools-container {
    display: none;
  }
}